<div class="container">
  <div class="row">
    <h1>Update</h1>
    <div class="form-horizontal">
      <div class="form-group">
      <%= form_for (@user) do |f| %>
        <%= render 'shared/error_messages', object: f.object %>
        <%= f.label :Name %>
        <%= f.text_field :name ,class:'form-control'%>
        <%= f.label :Email %>
        <%= f.text_field :email,class:'form-control' %>
        <%= f.label :password %>
        <%= f.text_field :password,class:'form-control' %>
        <%= f.label :password_confirmation, "Confirmation" %>
        <%= f.password_field :password_confirmation, class: 'form-control' %>
        <%= link_to 'Back',root_path(f),class:'btn btn-primary' %>
        <%= f.submit "Update" ,class:'btn btn-primary'%>
      <% end %>      
      </div>
    </div>
  </div>
</div>
