<!DOCTYPE html>
<html>
  <head>
    <title>PostApp</title>
    <%= render 'layouts/rails_default' %>

  </head>

  <body>
    <%= render 'layouts/header' %>
    <div class="container">
      <% flash.each do |message_type,message| %>
        <div class="alert alert-<%= message_type %>"><%= message %></div>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
